.p-btn-outline-success {
    color: #198754;
    border-color: #198754;
    border: 1px solid;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
}

.p-btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
    border: 1px solid;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
}

.p-btn-outline-warning {
    color: #dcc035;
    border-color: #dcc035;
    border: 1px solid;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
}

.margin-sides-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.bigger-icon{
    font-size: 1.5rem;
}
