<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
    <title>ToDo Application</title>
</head>
<body>
<div class="container">


    <div class="row mt-5">
        <div class="col-2">
            <p>
                <a href="/" class="btn btn-outline-danger">
                    <i class="bi bi-arrow-left-square-fill"></i>
                    Back to ToDo list
                </a>
            </p>
        </div>
        <div class="col-6">
            <h2 class="text-center">Edit ToDo Item</h2>
            <form action="#" th:action="@{/todo/{id}(id=${todo.id})}" th:object="${todo}" method="post">
                <div class="form-group">
                    <div class="col-6">
                        <label for="description">Description</label>
                        <input type="text"
                               th:field="*{description}"
                               class="form-control"
                               id="description"
                               placeholder="Enter description">
                    </div>
                    <div class="col-6">
                        <label for="InputIsDone">Is it done?</label>
                        <input type="checkbox"
                               th:field="*{isDone}"
                               th:checked="${todo.isDone} == true"
                               class="form-check-input"
                               id="InputIsDone">
                    </div>
                    <div class="col-6">
                        <label for="dueInput">Due:</label>
                        <input type="datetime-local"
                                id="dueInput"
                                name="dueInput"
                               th:field="*{dueDate}"
                               th:value="${todo.dueDate}"
                               class="form-control"
                               required="required"
                                />
                    </div>
                    <input type="hidden" th:field="*{createdAt}"/>
                    <input type="hidden" th:field="*{updatedAt}"/>

                    <button type="submit" class="btn btn-outline-success mt-3">
                        <i class="bi bi-plus-square-fill">Update</i>
                    </button>

                </div>
            </form>
        </div>


    </div>
</div>
    <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
    <script src="dateTimeInput.js"></script>
</body>
</html>